<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Image Insight</title>
  <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/album/">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">


  <!-- Bootstrap core CSS -->
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/home.css" rel="stylesheet">



</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="/home">Image Insight</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/home/inference">Inference</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/home">Album</a>
            </li>
          </ul>
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item d-flex align-items-center">
              <span id="user-name" style="color: white; padding-right: 10px;"></span>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Menu
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#" id="myaccount">My Account</a></li>
                <li><a class="dropdown-item" href="#" onclick="logout()">Log Out</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>


  <main>

    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Album</h1>
          <p class="lead text-muted">Welcome to your personal album! Here, you'll find all the images you've uploaded,
            along with their captions. Browse, reminisce, and enjoy your visual journey captured in one convenient
            location.</p>
          <p>
            <a href="/home/inference" class="btn btn-primary my-2">Make inference</a>
            <a id="refresh" href="#" class="btn btn-secondary my-2">Refresh</a>
          </p>
        </div>
      </div>
    </section>

    <div class="album py-5 bg-light">
      <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3"></div>

      </div>
    </div>

  </main>

  <footer class="text-muted py-5">
    <div class="container">
      <p class="float-end mb-1">
        <a href="#">Back to top</a>
      </p>
      <p class="mb-1">Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
      <p class="mb-0">New to Bootstrap? <a href="/">Visit the homepage</a> or read our <a
          href="../getting-started/introduction/">getting started guide</a>.</p>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="/static/js/bootstrap.bundle.min.js"></script>
  <script src="/static/js/logout.js"></script>


  <script>
    async function deleteImage(imageId) {
      const token = localStorage.getItem("token");

      try {
        const response = await fetch(`/home/images/delete/${imageId}`, {
          method: "DELETE",
          headers: {
            "Authorization": `Bearer ${token}`,
          },
        });

        if (!response.ok) {
          throw new Error("An error occurred while deleting the image.");
        }

        (`Image with ID: ${imageId} deleted successfully.`);
        await displayImages(); // Refresh the image grid after successful deletion
      } catch (error) {
        console.error("Error:", error);
      }
    }
  </script>

  <script>

    async function getImages() {
      const token = localStorage.getItem('token');
      try {
        const response = await fetch('/home/images', {
          method: 'GET',
          headers: {
            'Authorization': `Bearer ${token}`,
          },
        });

        if (response.ok) {
          const images = await response.json();
          return images.map(image => ({
            src: `data:image/jpeg;base64,${image.image_data}`,
            caption: image.description,
            timestamp: new Date(image.creation_date).toLocaleString(),
            image_data: image.image_data,
            image_id: image._id,
          }));
        } else {
          console.error('Failed to fetch images');
          return [];
        }
      } catch (error) {
        console.error('Error fetching images:', error);
        return [];
      }
    }

    function createImageCard(image) {
      return `
    <div class="col">
      <div class="card shadow-sm">
        <img src="${image.src}" class="card-img-top card-img-fixed" alt="${image.caption}">
        <div class="card-body">
          <p class="card-text">${image.caption}</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">Infer</button>
              <button type="button" class="btn btn-sm btn-outline-secondary delete-btn" data-image-id="${image.image_id}">Delete</button>
            </div>
            <small class="text-muted">${image.timestamp}</small>
          </div>
        </div>
      </div>
    </div>
  `;
    }


    function attachDeleteEventListeners(deleteButtons) {
      deleteButtons.forEach((deleteButton) => {
        deleteButton.addEventListener("click", () => {
          const imageId = deleteButton.getAttribute("data-image-id");
          deleteImage(imageId);
        });
      });
    }

    async function displayImages() {
      const images = await getImages();
      const imageGrid = document.querySelector(".album .container .row");
      imageGrid.innerHTML = images.map(createImageCard).join("");
      const deleteButtons = document.querySelectorAll(".delete-btn");
      attachDeleteEventListeners(deleteButtons);
    }


    document.addEventListener('DOMContentLoaded', async () => {
      await displayImages();
    });
  </script>

  <script src="/static/js/setname.js"></script>

  <script>
    document.getElementById('refresh').addEventListener('click', async () => {
      await displayImages();
    });
  </script>
  <script src="/static/js/myaccount.js"></script>





</body>

</html>