<!doctype html>
<html lang="en">

<head>
  {% include 'head.html' %}

  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"> -->


  <!-- Bootstrap core CSS -->
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/home.css" rel="stylesheet">

</head>

<body>
  <header>
    {% include 'header.html' %}
  </header>


  <main>

    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Album</h1>
          <p class="lead text-muted">Welcome to your personal album! Here, you'll find all the images you've uploaded,
            along with their captions. Browse, reminisce, and enjoy your visual journey captured in one convenient
            location.</p>
          <p>
            <a href="/home/inference" class="btn btn-primary my-2">Make inference</a>
            <a id="refresh" href="#" class="btn btn-secondary my-2">Refresh</a>
          </p>
        </div>
      </div>
    </section>

    <div class="album py-5 bg-light">
      <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3"></div>

      </div>
    </div>

  </main>

  <footer class="text-muted py-5">
    <div class="container">
      <p class="float-end mb-1">
        <a href="#">Back to top</a>
      </p>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="/static/js/bootstrap.bundle.min.js"></script>
  <script src="/static/js/logout.js"></script>

  <script src="/static/js/cardsManager.js"></script>
  <script src="/static/js/setUserInfos.js"></script>




</body>

</html>