<!doctype html>
<html lang="en">

<head>
    {% include 'head.html' %}
    <link href="/static/css/index.css" rel="stylesheet">
</head>

<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Image Insight</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item d-flex align-items-center">
                            <span id="user-name" style="color: white; padding-right: 10px;"></span>
                        </li>
                        <a class="btn btn-outline-success" href="/auth/login" type="button">Login</a>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main class="container">
        <div class="intro-section bg-light p-5 rounded">
            <div class="row">

                <div class="col-sm-6">

                    <p class="lead">
                        <span class="image-insight-text">Image Insight</span><br>
                        Welcome to Image Insight! Our state-of-the-art machine learning algorithm can analyze and
                        describe any image you upload. Whether it's a stunning landscape or a memorable moment with
                        friends,
                        our
                        AI will provide you with an accurate and detailed description in seconds.
                    </p>
                    <p>Explore the power of artificial intelligence and unlock a new way to understand and share your
                        visual
                        experiences. With Image Insight, you'll never look at your photos the same way again.</p>
                    <a id="get-started-button" href="/user/register"
                        class="btn btn-lg btn-primary mt-4 get-started-button" role="button">Get
                        started now
                        &raquo;</a>
                </div>
                <div class="col-sm-6 center">
                    <img src="/static/img/tea.jpg" class="img-fluid" alt="Responsive image">
                </div>
            </div>
    </main>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>

    <script src="/static/js/bootstrap.bundle.min.js"></script>

    <script src="/static/js/auth-check.js"></script>


</body>

</html>