<!doctype html>
<html lang="en">

<head>
    {% include 'head.html' %}

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/home.css" rel="stylesheet">
    <link href="/static/css/inference.css" rel="stylesheet">
</head>

<body>

    <header>
        {% include 'header.html' %}
    </header>

    <main class="container mt-5">
        <div class="intro-section bg-light p-5 rounded">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="mb-4">Upload an Image</h2>

                    <form id="image-upload-form" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="image-upload" class="form-label">Select Image:</label>
                            <input class="form-control" type="file" id="image-upload" name="image-upload"
                                accept="image/*">
                        </div>
                        <button type="submit" class="btn btn-primary">Upload Image</button>
                    </form>

                </div>
            </div>
        </div>
        <div class="mt-4 d-flex" id="uploaded-image-container"></div>
    </main>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>

    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/logout.js"></script>
    <script src="/static/js/setUserInfos.js"></script>

    <script>
        const token = localStorage.getItem("token");
        function displayUploadedImage(file, imageId) {
            const reader = new FileReader();
            reader.onload = function (event) {
                const imageContainer = document.getElementById('uploaded-image-container');
                imageContainer.innerHTML = `
  <div class="uploaded-image d-flex align-items-center">
    <img src="${event.target.result}" alt="Uploaded image" class="img-fluid" data-image-id="${imageId}">
    <button class="btn btn-primary mt-2 ms-3" id="apply-algorithm">Run Algorithm</button>
  </div>`;
            };
            reader.readAsDataURL(file);
        }

        // Modify the event listener for the form submission
        document.getElementById("image-upload-form").addEventListener("submit", async function (event) {
            event.preventDefault();

            const fileInput = document.getElementById("image-upload");
            if (fileInput.files.length === 0) {
                alert("Please select an image to upload.");
                return;
            }

            const file = fileInput.files[0];
            const formData = new FormData();
            formData.append("file", file);

            try {
                const response = await fetch("/home/images/upload", {
                    method: "POST",
                    headers: {
                        "Authorization": `Bearer ${token}`,
                    },
                    body: formData,
                });

                if (!response.ok) {
                    const responseData = await response.json();
                    if (responseData.error === "Storage limit exceeded") {
                        throw new Error("Storage limit exceeded");
                    } else {
                        throw new Error("An error occurred while uploading the image.");
                    }
                }
                const responseData = await response.json();

                // Call the displayUploadedImage function after a successful upload
                displayUploadedImage(file, responseData.image_id);
            } catch (error) {
                console.error("Error:", error);
                if (error.message.includes("Storage limit exceeded")) {
                    alert("Upload failed: Storage limit exceeded.");
                } else {
                    alert("An error occurred while uploading the image.");
                }
            }
        });
    </script>

    <script>

        document.addEventListener('click', async function (event) {
            if (event.target.id === 'apply-algorithm') {
                const imageElement = document.querySelector('.uploaded-image img');
                const imageData = imageElement.getAttribute('src');
                const imageId = imageElement.getAttribute('data-image-id');

                try {
                    // Deduct the balance before running the inference
                    const cost = 10; // Set the cost of running the algorithm
                    const deducResponse = await deductBalance(cost);

                    if (!deducResponse.ok) {
                        throw new Error('An error occurred while deducting the balance.');
                    }
                    // Run the inference after deducting the balance
                    const response = await fetch('/home/inference', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'Authorization': `Bearer ${token}`,
                        },
                        body: JSON.stringify({ image_data: imageData, image_id: imageId }),
                    });

                    if (!response.ok) {
                        throw new Error('An error occurred while applying the algorithm.');
                    }

                    const result = await response.json();
                    let resultElement = document.querySelector('.result-container');

                    if (resultElement) {
                        // Update the existing result container
                        resultElement.querySelector('.result-text').textContent = result.description;
                    } else {
                        // Create a new result container
                        resultElement = document.createElement('div');
                        resultElement.classList.add('result-container', 'ms-3', 'mt-2');
                        resultElement.innerHTML = `<p class="result-text">${result.description}</p>`;
                        document.querySelector('.uploaded-image').appendChild(resultElement);

                        const algorithmButton = document.getElementById('apply-algorithm');
                        algorithmButton.insertAdjacentElement('afterend', resultElement);
                    }

                } catch (error) {
                    console.error('Error:', error);
                }
            }
        });

    </script>

    <script>
        async function deductBalance(amount) {
            try {
                const response = await fetch('/user/deduct_balance?amount=' + amount, {
                    method: 'PUT',
                    headers: {
                        'Authorization': `Bearer ${token}`,
                    },
                });

                if (!response.ok) {
                    throw new Error('An error occurred while deducting balance.');
                }

                // Update user balance in UI
                getUserBalance();
                return response;
            } catch (error) {
                console.error('Error:', error);
                alert('Error deducting balance: ' + error.message);
                throw error;
            }
        }
    </script>

</body>

</html>