<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'head.html' %}
    <link rel="stylesheet" href="/static/css/register.css">
</head>

<body>
    <form id="register-form">
        <input type="text" id="username" placeholder="Username" required>
        <input type="email" id="email" placeholder="Email" required>
        <input type="password" id="password" placeholder="Password" required>
        <div class="form-buttons">
            <button type="button" id="cancel-btn">Cancel</button>
            <button type="submit">Create Account</button>
        </div>
    </form>
    <script src="/static/js/register.js"></script>
</body>

</html>